<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289136607464-i06fj4n5jsibvfu78il2ot74r76mri8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289136607464-i06fj4n5jsibvfu78il2ot74r76mri8o</string>
	<key>API_KEY</key>
	<string>AIzaSyBk387UlPUhSU6Yp-LBVId-xCKbwPWxJ04</string>
	<key>GCM_SENDER_ID</key>
	<string>289136607464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.datingAppUser</string>
	<key>PROJECT_ID</key>
	<string>dating-app-689e4</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-689e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289136607464:ios:8c8da90603f8f3e47e495d</string>
</dict>
</plist>